files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/55_build_angular.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_APP_STAGING_NM_DIR=$EB_APP_STAGING_DIR/node_modules/.bin

      NODE_PATH=$(/opt/elasticbeanstalk/bin/get-config container -k nodejs_install_dir)
      NODE_PATH_FULL=`ls -td $NODE_PATH/node-* | head -1`/bin
      export PATH=$NODE_PATH_FULL:$PATH
      export PATH=$EB_APP_STAGING_NM_DIR:$PATH

      cd $EB_APP_STAGING_DIR
      npm run build